body {
    width: 960px;
    align-self: 0 auto;
    background-color: aqua;
}

img {
    height: 200px;
    width: 200px;
    display: inline-block;
}

h1 {
    /* width: 400px; */
    align-self: 0 auto;
    text-align: center;
    background-color: aliceblue;
}

ul {
    float: left;
}

