body {
    width: 960px;
    align-self: 0 auto;
    background-color: paleturquoise;
}

img {
    height: 150px;
    width: 150px;
    display: inline-block;
    /* border: 2px solid brown; */
    
}

h1 {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(131, 131, 131);
    text-align: center;
    border-radius: 5px;

}


#pictures {
    width: 960px;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 50px;
    background-color: rgb(89, 42, 165);
    padding-right: 0px;
}

/* #picLeft {
    margin-left: 100px;
} */

img:first-child {
    margin-left: 75px;
}

section {
        margin: auto;
        width: 75%;
        /* border: 3px solid green; */
        padding: 10px;
}

p {
    font-size: 24px;
    margin: auto;
    width: 400px;
    border: 1px solid black;
}

#canvas {
    width: 960px;
    margin: 0 auto;
}

button {
    width: 300px;
    margin: 0 auto;
    font-size: 18px;
    background-color: powderblue;
    border-radius: 5px;
}